<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Pagina Inicial</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>

  <!-- Header -->
  <header class="header">
    <h1 class="logo">PrevidenciAgi</h1>
    <a href="subPaginas/Cadastro/cadastro.html" class="cta">Cadastre-se</a>
  </header>

  <!-- Hero -->
  <section class="hero">
    <h2>Invista no seu futuro com segurança</h2>
    <p>Planos de previdência privada simples e confiáveis.</p>
    <a href="subPaginas/aposentadoriaCadastro.html" class="btn-primary">Assine um contrato</a>
  </section>

  <div class="banner-container">
    <img src="../static/image/Idosa_1.jpg" alt="Banner" class="banner">
  </div>

  <!-- Vantagens -->
  <section id="vantagens" class="vantagens">
    <h3>Por que escolher a PrevidenciAgi?</h3>
    <ul>
      <li>Segurança</li>
      <li>Benefícios fiscais</li>
      <li>Tranquilidade no futuro</li>
    </ul>
  </section>

  <!-- Rodapé -->
  <footer class="footer" id="contato">
    © 2025 PrevidenciAgi - Todos os direitos reservados.
  </footer>

</body>
</html>
